.container{

   padding: 40px 60px;
}
.datee{
    float: right;
    margin-top: -100px;
    color: var(--paroti-black, #144047);
}

.above{
    padding: 10px;
}
.btuu li{
    text-decoration:dotted !important;
    
}
.title{
    color: var(--paroti-black, #144047);
}
